#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* color: #E25D13;
    font-family: "Caprasimo", serif; */
    /* font-weight: 400;
    font-style: normal; */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FDFBEE;
  color: #E25D13;
  font-family: "Caprasimo", serif;
}

.homepage-title {
  place-items: center;
  font-size: 5.2em;
  line-height: 1.1;
  color: #E25D13;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 30px
}

.navbar {
  background-color: #89BBBD;
  border-color: #89BBBD;
  border-width: thick;
  border-radius: 25px;
  color: #FDFBEE;
  margin: 3px auto;
  font-size: 1.3em;
}

a {
  font-family: "Caprasimo", serif;
  font-weight: 500;
  color: #E25D13;
  opacity: 0.8;
  text-decoration: inherit;
}
a:hover {
  color: #037488;
}


h1 {
  font-family: "Caprasimo", serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #E25D13;
  font-style: normal;
  font-weight: 400;
}

.sub-heading {
  font-size: 2.2em;
  color: #e78361;
}

.button {
  border-radius: 8px;
  border: 3px solid;
  border-color: #E25D13;
  color: #E25D13;
  padding: 14px 40px;
  font-size: 1em;
  font-weight: 400;
  font-family: "Caprasimo", serif;
  background-color: #FDFBEE;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #E25D13;
  color: #FDFBEE;
}

input, textarea {
  background-color: #FDFBEE;
  border: 1px solid #E25D13;
}

.option-custom {
  background-color: #FDFBEE;
}

.overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.range-custom {
  accent-color: #E25D13;
}

.cat-box {
  border: 3px solid;
  border-radius: 8px;
  background-color: #E78361;
  border-color: #E78361;
  opacity: 0.85; 
  padding: 20%;
  margin: 10px;
  color: #FDFBEE;
  text-align: center;
  font-size: 2.2em;
  place-items: center;
}

.cat-box:hover {
  background-color: #FDFBEE;
  color:#E78361;
  border: 3px solid;
  border-radius: 8px;
  border-color: #E78361;
  opacity: 1;
}

/* ::placeholder {
 color: #89BBBD !important;
 opacity: 0.7;
} */